# Ignore macOS system files
.DS_Store

# Ignore node_modules directory
node_modules/

.parcel-cache/

.data.mdb

# Ignore environment variable files
.env

# Ignore log files
*.log

# Ignore compiled files
*.class
*.dll
*.exe
*.o
*.so